<a href="https://colab.research.google.com/github/Nithish4603/nithish/blob/main/CelticMutation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [3]:
#loading the data
df = pd.read_csv('/content/train.tsv', sep='\t',header= None,encoding='utf8')

In [4]:
df.head()

       0  1
0  ansin  N
1      )  N
2     tá  N
3   níos  N
4     lú  N

In [5]:
df.columns = ['text','tag']
df

           text tag
0         ansin   N
1             )   N
2            tá   N
3          níos   N
4            lú   N
...         ...  ..
5057054      do   N
5057055  daoine   S
5057056   beaga   N
5057057       .   N
5057058     <S>   N

[5057059 rows x 2 columns]

In [6]:
#for loop to add the elements
token = []
for i in range(1,df.shape[0]):
  x =  str(df['text'][i-1]) + ' ' + str(df['text'][i] )
  token.append(x)

In [7]:
df['text'] = pd.DataFrame (token, columns = ['text'])
df

                 text tag
0             ansin )   N
1                ) tá   N
2             tá níos   N
3             níos lú   N
4          lú gaeilge   N
...               ...  ..
5057054     do daoine   N
5057055  daoine beaga   S
5057056       beaga .   N
5057057         . <S>   N
5057058           NaN   N

[5057059 rows x 2 columns]

In [8]:
#Creating a list for df['tag'] and removing the first elemnent
listt = df['tag'].tolist()
listt = listt[1:]

In [9]:
# Dropping the last index from df
df.drop(df.tail(1).index,inplace=True)

In [10]:
#Convertings list to df['tags']
df['tags'] = listt

In [11]:
df

                 text tag tags
0             ansin )   N    N
1                ) tá   N    N
2             tá níos   N    N
3             níos lú   N    N
4          lú gaeilge   N    N
...               ...  ..  ...
5057053        mór do   S    N
5057054     do daoine   N    S
5057055  daoine beaga   S    N
5057056       beaga .   N    N
5057057         . <S>   N    N

[5057058 rows x 3 columns]

In [12]:
# Removing <S>
df['text'] = df['text'].str.replace('<S>','')

In [13]:
# Removing <NUM>
df['text'] = df['text'].str.replace('<NUM>','')

In [14]:
# Removing <URL>
df['text'] = df['text'].str.replace('<URL>','')

In [15]:
# Removing <EMAIL>
df['text'] = df['text'].str.replace('<EMAIL>','')

In [16]:
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()
df['tags'] = encoder.fit_transform(df['tags'].fillna(' '))

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(max_features=1000)
cv = vectorizer.fit_transform(df['text'])

In [18]:
#Splitting the data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(cv,df['tags'], test_size=0.2, random_state=0)

In [19]:
#Training the data
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [20]:
#Accuracy Score
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.9046145388822755